def fibo(num):
    num1 = 0
    num2 = 1
    fibo=list()
    i=0
    while i < num:
        fibo.append(num1)
        num3=num1+num2
        num1=num2
        num2=num3
        i+=1
    return fibo
j = 0
while j < 1 :
    num=input("enter a number:")
    if num == '0' :
        print("There is no such number in Fibonacci\nGood bye!")
        quit()
    try:
        num = int(num)
        j = j + 1
    except:
        print("NOT A CORRECT STATEMENT.\nPLEASE TRY AGAİN")
        continue
print(fibo(num))
